<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>Sign up</title>
</head>
<body>
  <div class="container">
    <% if(locals.error){ %>
      <div class="alert alert-danger mt-4" role="alert">
        <%= locals.error %>
      </div>
    <% } %>
    <form action="/login" method="post">
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <p>dont have account 
      <a href="/signup">create account</a>
    </p>
  </div>

    <%- include('./partials/script.ejs') %>
</body>
</html>